<div class="row">
    <div class="col-md-4">  <div class="card mb-3" style="max-width: 18rem;"> <%= image_tag(movie.poster_url, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">Title: <%= movie.title %></h5>
          <p class="card-text">Overview: <%= movie.overview %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
